<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <input type="text" v-model="input_text">
        <table>
            <tr>
                <td colspan="12">
                    {{ input_text }}
                </td>
                <td></td>
            </tr>
            <tr>
                <td v-for="todo in arr">
                   {{ todo.id }} <br>
                   {{ todo.name }}
                </td>
            </tr>
        </table>
    </div>
</body>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/swiper.min.js"></script> 
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
<script>
document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</html>